@model Product

@{
    ViewData["Title"] = "Details";
}

@section MyCSS {
    <link href="~/css/main.css" rel="stylesheet" />
}


 <div class="Info_Section">
        <img src="/media/example_1.jpg" alt="">
        <ul>
            <li>
                <h4>
                    Sony lopjdferuhf
                </h4>
            </li>
            <li>
                <p class="Info_Details">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad harum sapiente sit ullam iusto optio
                    hic beatae. Dolore officia quia, sint praesentium ex natus, at omnis odio laborum, quis commodi.
                </p>
            </li>
            <li>
                <p class="Info_Quantity">
                    100 pieces left
                </p>
            </li>
            <li>
                <p class="Info_Price">
                    300 $
                </p>
            </li>
        </ul>
    </div>

    <p class="Product_Description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eum numquam ipsam alias quia voluptas dolore? Sunt
        recusandae numquam ullam vero. Qui, hic impedit maxime consectetur assumenda molestiae error quibusdam quis
        eaque quod nobis voluptas nisi id maiores? Odio fuga ipsa facere! Minus corrupti enim harum ratione, perferendis
        sit fuga cumque blanditiis voluptas est, praesentium totam eligendi a labore nisi laudantium saepe reiciendis
        recusandae repellat quidem? Quia tempore sed soluta expedita asperiores voluptates cupiditate architecto velit,
        eaque facilis eos necessitatibus qui! Pariatur maiores omnis nisi eius perspiciatis quisquam voluptatum qui ad
        doloribus, accusantium architecto iste amet, fugit veritatis unde assumenda.
    </p>

    <p class="Product_Description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus dolorem ea qui fuga ipsam quasi nihil, optio rem
        reiciendis porro perferendis dolore facilis sequi eligendi maxime at quibusdam iusto doloremque, atque
        architecto! Ullam, voluptatum. Tempora vero quasi tenetur aut eligendi perspiciatis numquam odit, voluptates
        quod pariatur atque dolor nam excepturi sunt nisi quo, est omnis eius unde, velit quae fugiat soluta in sed!
        Blanditiis ipsa fugiat ad nihil incidunt beatae aspernatur atque impedit neque eligendi suscipit illum vero, ut
        cumque, aliquid consequatur numquam, vitae temporibus mollitia debitis ab! Saepe eaque doloremque quibusdam
        error. Eos deleniti explicabo inventore a velit iste iure minus, provident enim similique ratione nostrum labore
        saepe et amet! Velit expedita dignissimos ullam eaque provident ea veniam, non excepturi eos debitis mollitia,
        facere accusantium perspiciatis neque id! Veritatis corrupti facere nisi! Architecto earum placeat tempore
        quasi, ex expedita ullam autem dignissimos ipsum nisi hic odio nam repudiandae atque?
    </p>