<div class="textContainer">
    <h4>New year Party Registraion</h4>

    <i>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id error totam veritatis voluptatibus pariatur debitis mollitia quas expedita enim, inventore illo saepe unde ducimus, commodi eius facilis atque veniam eligendi?
    </i>

    <a asp-controller="Home" asp-action="Registration">Registraion</a>
</div>