* {
    box-sizing: border-box;
    font-family: "Parkinsans", sans-serif;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
}

.Contacts_Container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 30px 50px;
    justify-content: center;
}

.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 10px;

    width: 250px;

    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);
    border-radius: 30px;

    border: 1px solid rgba(255, 255, 255, 0.18);

}

.Contact img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    object-fit: cover;

    border: 5px solid rgba(0, 0, 0, 0.35);
}

.Contact h4 {
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.Contact p {
    font-size: 15px;
    text-align: center;
    margin: 0px;
}

.ContactDetails_Container {
    min-width: 50%;
    max-width: 900px;
    display: flex;

    border: 1px solid rgba(24, 16, 37, 0.181);
    border-radius: 30px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);


    margin: 100px auto;

    overflow: hidden;

}

.ContactDetails_ImgBlock {
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16.5px);
    -webkit-backdrop-filter: blur(16.5px);

}

.ContactDetails_ImgBlock img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;

    margin: 40px 20px;

    border: 5px solid rgba(0, 0, 0, 0.35);


}

.ContactDetails_InfoBlock {
    list-style: none;
    margin: 0px;
    padding: 30px;
}

.ContactDetails_InfoBlock li {
    margin-bottom: 30px;
}

.ContactDetails_InfoBlock p {
    color: rgba(147, 93, 247, 0.438);
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 5px;
}

.ContactDetails_InfoBlock h4 {
    color: rgba(66, 25, 84, 0.847);
    font-weight: 500;
    font-size: 30px;
    margin: 0;

}