@{
    Layout = null;
}

<div style=" display:block;text-align:center;align-content:center;">
    <button>
        <a asp-controller="Home" asp-action="AddCourse" >Add</a>
        <a asp-controller="Home" asp-action="DeleteCourse">Detele</a>
    </button>


</div>