@{
    ViewData["Title"] = "Admin | Delete";
}

@section MyCSS {
    <link href="~/css/admin.css" rel="stylesheet" />
}

<h3 class="AdminPanel_Info">
        Delete product
    </h3>
    <p class="AdminPanel_Choose">
        Choose required product for delete
    </p>

    <form class="Add_Form" asp-action="Delete" method="post">

        <label for="cars">Choose a product:</label>
        <select name="cars" id="cars" form="carform">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>

        <input class="Delete" type="submit" value="Delete">
    </form>

