@{
    ViewData["Title"] = "Admin | Delete";
}

@section MyCSS {
    <link href="~/css/admin.css" rel="stylesheet" />
}

@model List<Product>

<h3 class="AdminPanel_Info">
        Delete product
    </h3>
    <p class="AdminPanel_Choose">
        Choose required product for delete
    </p>

    <form class="Add_Form" asp-action="Delete" method="post">

        <label for="productId">Choose a product:</label>
        <select name="productId" id="productId">
            @foreach (Product product in Model)
            {
                <option value="@product.ID">@product.Name</option>
            }
        </select>

        <input class="Delete" type="submit" value="Delete">
    </form>




