@model KeyValuePair<string, string>

@{
    List<string> collapseNumber = new()  { "One", "Two", "Three" };

}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                @Model.Key   
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                @Model.Value
            </div>
        </div>
    </div>
