@{
    ViewData["Title"] = "Home Page";
}

@section MyCss{
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

<div class="text-center">
    <h1 class="display-4">My contact book</h1>
    <a style="font-size:30px" href="~/Contact">Contatcs</a>
</div>

