@model List<Contact>

@section MyCss{
    <link rel="stylesheet" href="~/css/main.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
}

<div class="Contacts_Container">
    @foreach (Contact contact in @Model)
    {
        @await Html.PartialAsync("Partials/_ContactView", contact)
    }
</div>

